<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Streaming</title>
</head>
<body>
    <h2 style="color: black;" >Video Buffering and Streaming in Chunk Size</h2>

    <video id="VideoPlayer" width="1000" controls playbackRate="1.0">
        <source src="http://localhost:3000/chunk/video" type="video/mp4">
    </video>
    
</body>
</html>